<div class="tui-space_bottom-4">
  <p>Bạn đã tạo thành công kênh thanh toán với thông tin:</p>

  <div
    style="background: var(--tui-base-02); padding: 12px; border-radius: 8px"
  >
    <div><strong>ID:</strong> {{ data.id }}</div>
    <div><strong>Tên kênh thanh toán:</strong> {{ data.paymentChannel }}</div>
    <div><strong>Tên kết nối:</strong> {{ data.channelStatus }}</div>
    <div><strong>Mã tiền tệ:</strong> {{ data.currencyCode }}</div>
    <div><strong>Tiêu chuẩn tin nhắn:</strong> {{ data.currencyCode }}</div>
    <div><strong>Trạng thái kênh:</strong> {{ data.currencyCode }}</div>
  </div>
</div>

<div class="tui-form__buttons tui-form__buttons_align_end">
  <button tuiButton size="m" appearance="primary" (click)="close()">
    Đóng
  </button>
</div>
