<div class="form-card">
  <h3 class="card-title">Thông tin chung</h3>

  <div class="form-grid layout-primary">
    <tui-textfield>
      <label tuiLabel>ID <span class="required-mark">*</span></label>
      <input tuiTextfield formControlName="id" placeholder="123" min="1" />
    </tui-textfield>

    <tui-textfield>
      <label tuiLabel>Tên kênh thanh toán</label>
      <input tuiTextfield formControlName="paymentChannel" />
    </tui-textfield>

    <app-connection-name-select [options]="connectionNameOptions" />
  </div>
</div>
