<div class="form-card">
  <h3 class="card-title">CHI TIẾT</h3>

  <div class="status-layout-wrapper">
    <div class="status-inputs-grid">
      <app-currency-code-select [options]="currencyCodeOptions" />
      <app-msg-standard-select [options]="msgStandardOptions" />
      <app-channel-status-select [options]="channelStatusOptions" />
      <app-para-status-select [options]="paraStatusOptions" />
      <app-web-view-select [options]="webViewOptions" />
      <app-active-status-select [options]="activeStatusOptions" />
    </div>
  </div>
</div>
